{% extends 'login/base.html' %}
    
{% block log %}
    <div class="login-container">
        <div class="login-box">
            <h1>DIVERTIKIDS</h1>
            <h2>Inicio de sesión</h2>
            {% if messages %}
                <div class="alert alert-danger">
                        {% for message in messages %} <!--esto me muestra que el email ingresado no existe en la bdd -->
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
    
            <!--inicio de sesión -->
            <form method="POST" action="">
                {% csrf_token %}
    
                <div class="form-group">
                    <label for="id_email">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email">
                    {% if form.email.errors %} <!-- me muestra si hay algun error con el email y si lo hay manda mensaje por pantalla -->
                        <div class="error-message">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <label for="id_password">Contraseña</label>
                    <input type="password" class="form-control" id="id_password1" name="password">
                    {% if form.password.errors %} <!-- hace lo mismo que el error de email -->
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    <input type="checkbox" id="mostrar_contrasena" onclick="togglePasswordVisibility()">
                    <label for="mostrar_contrasena">Mostrar Contraseña</label>
                </div>
    
                <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
    
                <div class="form-group text-center mt-3">
                    <a href="{% url 'register' %}">¿No tienes cuenta? Regístrate</a>
                </div>
                
                <div class="form-group text-center mt-3">
                    <a href="{% url 'password_reset' %}">¿Olvido su contraseña?</a>
                </div>
    
                <div class="form-group text-center">
                    <a href="{% url 'home' %}">Volver a Home</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}