<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion - Divertikids</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/styles_log.css' %}">
    
</head>
<body>
    <script src="{% static 'login/js/login.js' %}"></script>
    {% block log %}
    {% endblock %}
    
</body>
</html>
